@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Oswald:wght@200&display=swap');
#header {
    display: flex;
}
body {
    
    font-family: Hubballi, 'lucida Sans';
    font-weight: 300;

}

#list{
    margin-left: 50%;
}

h1{
    font-size: 40px;
    font-family: Oswald, arial;
    font-weight: 300px;
}

ul li{
    margin-top: 20px;
    
    display:inline-block;
    
}

a:link {
    text-decoration:none;
   
}

#menu{
    font-size: 170%;
}